
<div class="container-fluid"> 
    <app-header></app-header>    

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions; let i= index">
        <th scope="row">{{transaction.id}}</th>
        <td>{{transaction.name}}</td>
        <td>{{transaction.email}}</td>
        <td> <button type="button" class="btn btn-outline-secondary" (click)="delete(transaction.id)">Delete</button> <button type="button" class="btn btn-outline-secondary" [routerLink]="['/edit', transaction.id]">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>